<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @storehouse.title %>
</p>

<p>
  <strong>District:</strong>
  <%= @storehouse.district %>
</p>




<%= link_to (t :back), storehouses_path %>
